@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/woff/IRANSansX-Regular.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
}
@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
}

* {
  font-family: IRANSansX;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

body,
html {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 400px;
  background: #fff;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: 0.2s;
}

.content {
  display: flex;
  position: absolute;
  top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
  height: 6rem;
  color: #312e81;
  border-radius: 0.5rem;
}
.header .user-icon {
  font-size: 50px;
  margin-bottom: 5px;
}
.text-container {
  position: relative;
}

.text {
  unicode-bidi: plaintext;
  direction: ltr;
  outline: 1px solid #4338ca;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  padding: 10px 27px 10px 15px;
  transition: 0.2s;
  background-color: #fff;
}

.text:focus {
  box-shadow: 0px 0px 5px 2px rgba(67, 56, 202, 0.5);
  outline: 2px solid #312e81;
}

.input-label {
  position: absolute;
  top: 0;
  right: 20px;
  color: #6b7280;
  pointer-events: none;
  display: flex;
  padding: 10px 13px;
  font-size: 14px;
  transition: 0.3s;
}

.user:focus ~ .input-label,
.user:valid ~ .input-label,
.pass:focus ~ .input-label,
.pass:valid ~ .input-label,
textarea:focus ~ .input-label,
textarea:valid ~ .input-label {
  top: -10px;
  right: 0px;
  font-weight: bold;
  background-color: #fff;
  padding: 0px 6px;
  display: flex;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 12px;
}
.label-user-icon {
  position: absolute;
  right: 10px;
  top: 13px;
  color: rgba(0, 0, 0, 0.35);
}

.show-hide-btn {
  position: absolute;
  top: 12px;
  left: -35px;
  color: rgba(0, 0, 0, 0.35);
  font-size: 1.55rem;
  cursor: pointer;
  height: 20px;
}

.input-container {
  margin: 1.1rem 0;
}

.login-icon {
  margin-right: 10px;
}
.btn {
  /* background-color: #4338ca; */
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: 0.145s;
  margin: 20px 0;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #3730a3;
}

.btn:active {
  background-color: #3730a3;
}

/* .checkbox-container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 25px;
}

.checkbox-input,
.checkbox-label {
  cursor: pointer;
}

.checkbox-label {
  margin-left: 10px;
}

.save-pass {
  direction: rtl;
}

.signup {
  display: flex;
  justify-content: center;
}

.signup a {
  margin-right: 10px;
}

.show-hide-btn {
  text-decoration: none;
}

.show-hide-btn:hover {
  color: #4b5563;
} */

/* @media (max-width: 395px) {
  .container {
    width: 330px;
    height: auto;
    min-height: 350px;
    padding: 20px 5px;
    border-radius: 3px 40px 3px 35px;
  }
  .content {
    position: absolute;
    top: 110px;
  }
  .header {
    height: 90px;
    display: flex;
    flex-direction: row;
    border-radius: 3px 35px 3px 35px;
  }
  .text,
  .input-label,
  .label-user-icon,
  .show-hide-btn {
    margin: 5px 0;
  }
}
@media (max-width: 900px) and (orientation: landscape) {
  .container {
    width: 350px;
    height: auto;
    min-height: 250px;
    border-radius: 5px 25px 5px 25px;
    top: 0;
  }
  .header {
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 5px 25px 5px 25px;
  }
  .content {
    top: 75px;
  }
  .text,
  .input-label,
  .label-user-icon,
  .show-hide-btn {
    margin: 4px 0;
  }
}
 */
